<launch>
  <master auto="start"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="5.0"/> 
    <param name="controller_patiente" value="3.0"/>
    <rosparam file="$(find car_navigation)/navigation_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find car_navigation)/navigation_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find car_navigation)/navigation_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/navigation_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/navigation_params/global_planner_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/navigation_params/base_local_planner_params.yaml" command="load" />
    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner"/> -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <!-- LOAD COSTMAP_CONVERTER PARAMETERS HERE -->
    <rosparam file="$(find car_navigation)/navigation_params/costmap_converter_params.yaml" command="load" />
  </node>


    <node name="car_cmd_node" pkg="car_cmd" type="car_cmd_node" />

</launch>
